.login-body{
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

.border{
    background-color:rgba(212, 24, 200, 0.296);
    margin-top:0%;
    margin-bottom:0%;
    margin-left: 30%;
    margin-right: 30%;
    border-top-left-radius:50px;
    border-top-right-radius:50px;
    border-bottom-left-radius:50px;
    border-bottom-right-radius: 50px;
    padding-top: 5%;
    padding-bottom: 5%;
}

.uname {
    font-size: medium;
    color: #000000;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn {
    background-color: #000000;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    border-radius: 50px;
    border: none;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
    padding-right: 5%;
}

.textbox {
    background-color: #ffffffa1;
    color: #000000;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    border-radius: 50px;
    border: none;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
    padding-right: 5%;
}

.msg {
    padding-bottom: 2%;
    font-size: medium;
    color: #000000;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.register-body{
    background-image:linear-gradient(to right top,#C6EA8D,#FE90AF);
}
.huhu{
    height:600px;
    width:1470px;
}
.fero{
    padding-top:6px; 
    padding-left:4%;
font-family: Georgia, 'Times New Roman', Times, serif;
margin-top:5px;
}

.logo{
    height:50px;
    width:50x;
    border-radius:50px;
    position: absolute;
    padding-left:auto;
    padding-right:auto;
    margin-top:1px;
}
.butt{
    background-color:#361c1c;
    font-family: 'Times New Roman', Times, serif;
    font-size:large;
    border-radius: 50px;  
    color:#f4f2f2;
    padding-top: 1%;
    padding-bottom:1%;
    padding-left:1.5%;
    padding-right:1.5%;
    position:absolute;
    top: 8px;
    right: 16px;
}


.title-textbox {
    background-color: #0ae678;
    color: #000000;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    border-radius: 10px;
    border: none;
    border-width: 1px;
    padding-left: 1%;
}
.instruction-textbox {
    background-color: #0ae678;
    color: #000000;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    border-radius: 10px;
    border: none;
    border-width: 1px;
    padding-left: 1%;
}


.log{
    background-color:#f4f2f2 ;
    font-family: 'Times New Roman', Times, serif;
    font-size:large;
    border-radius: 50px;  
    color:#361c1c;
    padding-top: 1%;
    padding-bottom:1%;
    padding-left:1.6%;
    padding-right:1.6%;
    text-align:top-Sright;
    position:absolute;
    top: 8px;
    right:120px;
}
.upload-body{
    background-image: "C:\Users\ANJANA A M\Downloads\istockphoto-1351302570-612x612.jpg";
}

.brkfst{
height:100px;
width:100px;
}