<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> ByteBash </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div>
            <p style="display:inline-block;">
            <img src="static/the sauce.png"alt="logo" class="logo">
            <h1 id="fero">Thesaus</h1>
            </p>
        </div>
        <div class="poopy">
            <img src="static/fooooood.jpg" class="huhu">
        </div>
    </body>
</html>