<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> ByteBash </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div>
            <p>
            <img src="{{ url_for('static',filename='logo.png') }}" alt="logo" class="logo">
            <h1 id="fero">Thesauce</h1>
            <input type="submit" class="butt" value="sign in">
            <input type="submit" class="log" value="login">
            </p>
        </div>
        <div class="poopy">
            <img src="static/fooooood.jpg" class="huhu">
        </div>
    </body>
</html>