<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> ByteBash </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div>
            <header>
            <p>
            <img src="{{ url_for('static',filename='logo.png') }}" alt="logo" class="logo">
            <h1 class="fero">thesauce</h1>
            <input type="submit" class="butt" value="logout">
            <input type="submit" class="log" value="upload">
            </p>
            </header>
        </div>
        <div class="poopy">
            <img src="static/fooooood.jpg" class="huhu">
        </div>

        <div>
         <a href="{{ url_for('breakfast') }}"><img src="{{ url_for('static',filename='brkfst.png') }}" class="brkfst"></a>
        </div>
    </body>
</html>