<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> Upload </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <style>
            .upload-body{
                background-image: url( "{{url_for('static', filename='bg.jpg')}}" );
            }
        </style>
    </head>
    <body class="upload-body">
        <div>
        <form action="{{ url_for('upload') }}" method="post">
            <label>Enter your food name:<input class="title-textbox" id="title" name="title" placeholder="title" type="text" required></label><br><br><br>
            <label>Enter your Instructions:<br><textarea class="instruction-textbox" id="instructions" name="instructions" placeholder="Instruction" minlength="100" rows="10" cols="50" required></textarea></label><br><br><br>
            <label>Meal type:
                <select class="selected">
                <option value="0" >Select Meal</option>
                <option value="1">Breakfast</option>
                <option value="2">Lunch</option>
                <option value="3">Snack</option>
                <option value="4">Dinner</option>
                </select></label><br><br><br>
                <input type="url" class="file-name" name="image", placeholder="Thumbnail URL" class="thumb-url"><br>
                <div id="dynamicInput">
                    Item 1<br>  
                    <input type="text" name="ingredients1" placeholder="Ingredient Name"> <input type="text" name="quantity1" placeholder="Ingredient Quantity">
                    </div>
                    <input type="button" value="Add another ingredient" onClick="addInput('dynamicInput');">
                    <script type="text/javascript">
                        var counter = 1;
                        var limit = 20;
                        function addInput(divName){
                            if (counter == limit)  {
                                alert("You have reached the limit of adding " + counter + " inputs");
                            }
                            else {
                                var newdiv = document.createElement('div');
                                newdiv.innerHTML = "Item " + (counter + 1) + " <br><input type='text' placeholder='Ingredient Name' name='ingredients"+(counter+1)+"'> <input type='text' placeholder='Ingredient Quantity' name='quantity"+(counter+1)+"'>";
                                document.getElementById(divName).appendChild(newdiv);
                                counter++;
                            }
                        }
                    </script>
                        <input type="submit" value="Upload" class="upload-button">
    
        </div>
    </form>
    </div>
    </body>
</html>