<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> Upload </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body class="upload-body">
        <div>
        <form action="{{ url_for('upload') }}" method="post">
            <label>Enter your food name:<input class="title-textbox" id="title" name="title" placeholder="title" type="text" required></label><br><br><br>
            <label>Enter your Instructions:<br><textarea class="instruction-textbox" id="instruction" name="instruction" placeholder="Instruction" minlength="100" rows="10" cols="50" required></textarea></label><br><br><br>
            <label>Meal type:
                <select class="selected">
                <option value="0" >Select Meal</option>
                <option value="1">Breakfast</option>
                <option value="2">Lunch</option>
                <option value="3">Snack</option>
                <option value="4">Dinner</option>
                </select></label><br><br><br>
                <input type="file" class="file-name"><br><br><br>
        </div>
    </form>
    </div>
    </body>
</html>